<a href="https://colab.research.google.com/github/sreekar-1726/python-new/blob/module2/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=("b","c","d","e","b","b","b")
y=list(a)
for i in y:
  if i=='b': 

     
    y.remove(i)
    print(i)

b
b
b

In [2]:
#sets
set={"p","a","v","n"}
print(set)

{'a', 'n', 'v', 'p'}

In [3]:
#duplicates values are ignored
set={"p","a","v","a","n"}
print(set)

{'a', 'n', 'v', 'p'}

In [4]:
#dupliclicates are ignored and counted
#to find the length of the sets
set={"p","a","v","a","n"}
print(len(set))

4

In [5]:
 #set can contain different data types
 s = {"a", 34, True, 40, "pm"}
print(s)

{True, 34, 40, 'pm', 'a'}

In [6]:
#to find the data type of set
set={"p","a","v","a","n"}
print(type(set))                 
p={"a",1,True,"n"}
print(type(p))

<class 'set'>
<class 'set'>

In [7]:
#to acesss the item in sets
set={"p","a","v","a","n"}
for x in set:
  print(x)

a
n
v
p

In [8]:
set={"p","a","v","a","n"}
print("p" in set)
print("s" in set)

True
False

In [9]:
#adding the items to set
set={"p","a","v","a","n"}
set.add("liliput")
print(set)

{'liliput', 'v', 'n', 'a', 'p'}

In [10]:
#adding of different types
set={"p","a","v","a","n"}
s={"d","lily","ellur","guntur"}
set.update(s)
print(set)

{'guntur', 'v', 'd', 'n', 'lily', 'ellur', 'a', 'p'}

In [11]:
#we can add the list to set
#adding list 
set={"p","a","v","a","n"}         
s=["d","lily","ellur","guntur"]
set.update(s)
print(set)

{'guntur', 'v', 'd', 'n', 'lily', 'ellur', 'a', 'p'}

In [12]:
#to remove the element in set
set={"p","a","v","a","n"} 
set.remove("a")    #usage of "remove" keyword
print(set)

{'n', 'v', 'p'}

In [13]:
#usage of discard
set={"p","a","v","a","n"} 
set.discard("p")
print(set)

{'a', 'n', 'v'}

In [14]:
#pop
set={"p","a","v","a","n"}  #removes the last item
x=set.pop()
print(x)
print(set)

a
{'n', 'v', 'p'}

In [15]:
#clear to empty the set
set={"p","a","v","a","n"}  
set.clear()
print(set)

set()

In [16]:
#del to remove the set completely
set={"p","a","v","a","n"}
del set
print(set)

<class 'set'>

In [17]:
#loops
set={"p","a","v","a","n"}
for x in set:
  print(x)

a
n
v
p

In [18]:
#joining of two sets
x={"lily","elluru","dark","jennie","moon"}
y={"charan","kaushik","laxman","saketh","pavan"}
z=x.union(y)
print(z)

{'moon', 'charan', 'laxman', 'kaushik', 'jennie', 'saketh', 'pavan', 'lily', 'dark', 'elluru'}

In [19]:
x={"lily","elluru","dark","jennie","moon"}
y={"charan","kaushik","laxman","saketh","pavan"}
x.update(y)
print(x)

{'moon', 'charan', 'laxman', 'kaushik', 'jennie', 'saketh', 'pavan', 'lily', 'dark', 'elluru'}

In [20]:
x={"lily","elluru","dark","jennie","moon"}
y={"lily","kaushik","laxman","saketh","moon"}
x.intersection_update(y)  #only the common values
print(x)
z=x.intersection(y)
print(z)

{'moon', 'lily'}
{'moon', 'lily'}

In [21]:
 #prints that are not common in both sets
x={"lily","elluru","dark","jennie","moon"}
y={"lily","kaushik","laxman","saketh","moon"}
x.symmetric_difference_update(y)             
print(x)
z=x.symmetric_difference(y)
print(z)

{'laxman', 'kaushik', 'jennie', 'saketh', 'dark', 'elluru'}
{'moon', 'lily', 'dark', 'elluru', 'jennie'}