<a href="https://colab.research.google.com/github/sreekar-1726/python-new/blob/module2/strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x="i'm sreekar started from DDS back hostel and reached mess at completed breakfast then my friend joined me and we reached to python class"
print(x)
y=len(x) # assigning a variable and printing the length
print(y)
print(len(x)) #direct finding the length

i'm sreekar started from DDS back hostel and reached mess at completed breakfast then my friend joined me and we reached to python class
136
136

In [2]:
#to find out the existing word in the given sentence
#check string
x="sreekar"
print("sreekar" in x)
print("xyz" in x)

True
False

In [3]:
#if not
x="i is an independent class person"
print("class" not in x)
print("pavant" not in x)

False
True

In [4]:
#using if statement
y="is an idiot fellow"
if "idit" not in y:
  print("no'idiot' , not in set")

no'idiot' , not in set

In [5]:
#slicing
x="im in python class "
print(x[2:5])
print(x[2:5],x[6:7])
print(x[:-5])
print(x[5:])
print(x[-10:-5])

 in
 in p
im in python c
 python class
hon c

In [6]:
#modifying the string
p="SREEKAR IS IN CAMPUS"
print(p.upper())
print(p.lower())
print(p.upper())

SREEKAR IS IN CAMPUS
sreekar is in campus
SREEKAR IS IN CAMPUS

In [7]:
#removing white spaces in a string
x="                 sreekar is    sleeping          "
print(x.strip())       # removes only the white spaces at end and beginning of a string

sreekar is    sleeping

In [8]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [9]:
#string concotaination
a="sreekar"
b="yasaswi"
c=b+a
print(c)
#to add space in between
d=b+" "+a
print(d)

yasaswisreekar
yasaswi sreekar

In [15]:
sreekar=10
x="he has {} chocalates."
print(x.format(pavan))
z=100
f=10

y="he has{} and gave to pav{} and {}  to her"
print(y.format(pavan,z,f))

he has 10 chocalates.
he has10 and gave to pav100 and 10  to her